{% extends "layout.html" %}

{% block title %} REGISTER PAGE
{% endblock  %}

{% block body %}
    <!-- <form action= "/register" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">USERNAME</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                 
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">PASSWORD</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                
                <div class="form-group">
                    <label for="exampleInputEmail1">FIRST NAME</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                 
                </div>
                
                <div class="form-group">
                    <label for="exampleInputEmail1">LAST NAME</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
            <button type="submit" class="btn btn-primary">Submit</button>
           </form>

-->

<div class="container">
    <h1> REGISTER </h1>
    <form action="" method="POST">
        <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="name" required>
        </div>
        <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="username" required>
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="password" required>
        </div>
        <div class="form-group">
            <input type="password" name="confirm" class="form-control" placeholder="confirm password" required>
        </div>
        <button class="btn btn-primary" type="submit"> Submit </button>
    </form>    
</div>

{% endblock %}